<main>
    <div class="main-card">
        <div class="header">
            <div class="playtime">{{playedTime}} Play Time</div>
            <div class="card-label">{{cardLabel}}</div>
            <div class="matches">{{playedMatches}} Matches</div>
        </div>

        <hr />

        <div class="main-container">
            <div *ngFor="let stat of stats | keyvalue">
                <app-card-entry 
                    [values]=stat.value
                />
            </div>
        </div>
    </div>
</main>
