<main>
    <div class="main-card">
        <div class="header">
            <span class="card-label">{{cardLabel}}</span>
            <span class="playtime">{{playedTime}} Play Time</span>
            <span class="matches">{{playedMatches}} Matches</span>
        </div>

        <hr />

        <div class="main-container">
            <div *ngFor="let stat of stats | keyvalue">
                <app-card-entry 
                    [values]=stat.value
                />
            </div>
        </div>
    </div>
</main>
