<main>
  <header>
    <div id="headline">
      Battlefield Statistics
    </div>
  </header>

  <section>
    <div class="button-container">
      <button (click)="changeValues('Noxicon471')">Alex</button>
      <button (click)="changeValues('TheGoodnes471')">Felix</button>
    </div>

    <div *ngIf="data">
      <div class="card-container" *ngFor="let section of data.segments">
        <app-card
          [cardLabel]=section.metadata.name
          [playedTime]=section.stats.timePlayed.displayValue
          [playedMatches]=section.stats.matches.displayValue
          [stats]=section.stats
        />
      </div>
    </div>
  </section>
</main>
