.card-container {
    margin-bottom: 25px;
}

#headline{
    height: 75px;
    font-size: 30px;
    text-align: center;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;

    button {
        width: 100px;
        height: 30px;
        border-radius: 100px 100px 100px 100px;
        border: 0px;
        background-color: #333333;
        color: white;
        margin-left: 20px;

        &:hover {
            background-color: #4c4c4c;
        }
    }
}
