<main>
  <header>
    <div style="margin-top: 200px;"></div>
  </header>

  <section>
    <div>
      <button (click)="getStatistics('Noxikon471')">Alex</button>
      <button (click)="getStatistics('TheGoodness471')">Felix</button>
    </div>

    <button (click)="debugLog()">DEBUG</button>

    <div class="card-container" *ngFor="let section of data.data.segments">
      <app-card
        [cardLabel]=section.metadata.name
        [playedTime]=section.stats.timePlayed.displayValue
        [playedMatches]=section.stats.matches.displayValue
        [stats]=section.stats
      />
    </div>
  </section>
</main>
